header {
  height: 50vh;
}

h1 {
  color: #ffff;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#addToDoForm,
#toDoList {
  text-align: center;
  margin-top: 20px;
}

#newToDoText {
  width: 200px;
}

input {
  margin: 0 20px;
}
